<div class="mainpage">
    <mat-toolbar color="primary">
        <div class="toolbar-icons" (click)="drawer.toggle()">
            <mat-icon mat-button class="mainpage-icons">menu</mat-icon>
            <img class="pl-16" src="../../assets/img/Icon.png">
            <span class="pl-16">Slack-Clone</span>
        </div>
        <div class="toolbar-icons">
            <input onkeyup="" placeholder="Search ..." autocomplete="off" matInput>
        </div>
        <div class="toolbar-icons">
            <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
            <mat-menu #menu="matMenu">
                <div mat-menu-item class="dialog-icon-and-button" (click)="openDialog()">
                    <mat-icon class="menu-icon" fontIcon="edit"></mat-icon>
                    <span>Edit user</span>
                </div>

                <div mat-menu-item class="dialog-icon-and-button" (click)="logout()">
                    <mat-icon class="menu-icon" fontIcon="logout"></mat-icon>
                    <span>Log out</span>
                </div>
            </mat-menu>
        </div>
    </mat-toolbar>

    <mat-drawer-container class="mat-drawer-container" autosize>
        <mat-drawer #drawer opened="true" class="mat-drawer-sidenav" mode="side">

            <div class="pl-16 sidenav-header">
                <h2>Developer Akademie</h2>
            </div>
            <div class="pl-16 df-ai_c" (click)="openThreads()">
                <mat-icon class="mainpage-icons">speaker_notes</mat-icon>
                <h3 class="pl-16">Threads</h3>
            </div>
            <div class="df-ai_c-jc_sb pr-16 sidenav-header" (click)="toggleChannelMenu()">
                <div class="pl-16 df-ai_c">
                    <mat-icon *ngIf="ChannelMenuIsOpen">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="!ChannelMenuIsOpen">arrow_right</mat-icon>
                    <mat-icon class="mainpage-icons">forum</mat-icon>
                    <h3 class="pl-16">Channels</h3>
                </div>
                <div>
                    <mat-icon (click)="openDialogCreateChannel()">add</mat-icon>
                </div>
            </div>
            <div *ngIf="ChannelMenuIsOpen">
                <div *ngFor="let channel of channels, let i = index" class="single-chatroom pl-16 pb-16 pt-16">
                    <div [ngClass]="{'single-chatroom' : allChatChannel == ('channel' + i) }" routerLink="/imprint">
                        <!-- routerLink="['/channel/' + channel.channelId]"> -->
                        <span class=""># {{ channel['channelName'] }}</span>
                    </div>
                </div>
            </div>



            <div class="df-ai_c-jc_sb pr-16 sidenav-header">
                <div class="pl-16 df-ai_c" (click)="toggleDirectMessagesMenu()">
                    <mat-icon *ngIf="DirectMessagesMenuIsOpen" fontIcon="arrow_drop_down"></mat-icon>
                    <mat-icon *ngIf="!DirectMessagesMenuIsOpen" fontIcon="arrow_right"></mat-icon>
                    <mat-icon class="user-icon">chat</mat-icon>
                    <h3 class="pl-16">Direct messages</h3>
                </div>
                <div>
                    <mat-icon (click)="openDialogCreateChat()">add</mat-icon>
                </div>
            </div>
            <div *ngIf="DirectMessagesMenuIsOpen">
                <p>Chat 1</p>
                <p>Chat 2</p>
                <p>Chat 3</p>
                <p>Chat 4</p>
                <p>Chat 5</p>
            </div>

            <div class="sidenav-header pl-16 imprint" (click)="openImprint()">
                <!-- routerLink="/imprint" -->
                <h4>Imprint & Data protection</h4>
            </div>

        </mat-drawer>

        <div class="mat-drawer-sidenav-content pt-16 pl-16" #content>
            <div *ngIf="imprint">
                <app-imprint></app-imprint>
            </div>
            <div *ngIf="threads">
                <app-threads></app-threads>
            </div>
        </div>

    </mat-drawer-container>
</div>