.mainpage {
    height: calc(100vh - 64px);
}

mat-drawer-container {
    height: calc(100vh - 64px) !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    height: 100vh;

    h3 {
        cursor: pointer;
    }
}

.mat-drawer-sidenav {
    width: 300px;
    background-color: #3F0D40;
    color: white;
    height: 100vh;
}

mat-toolbar {
    background-color: #360C36 !important;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mainpage-icons {
    height: 30px;
    width: 30px;
    font-size: 30px !important;
    cursor: pointer;
}

.toolbar-icons {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
        padding: 2%;
        color: black;
        font-size: 18px;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        height: 18px;
        width: 300px;
    }

    img {
        height: 30px;
        width: 30px;
    }
}

.profil-img {
    width: 36px !important;
    height: 36px !important;
    border-radius: 100%;
}

.dialog-icon-and-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-icon {
        color: #0000008a;
    }
}



mat-drawer-sidenav-content {
    background-color: #FAFAFA;
    font-size: 32px;
}

mat-drawer {
    p {
        margin-left: 16px;
        margin-top: 16px;
    }
}

.sidenav-header {
    border-top: #512752 1px solid;
    border-bottom: #512752 1px solid;
}

.df-ai_c {
    display: flex;
    align-items: center;
}

.df-ai_c-jc_sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-channel {
    span {
        cursor: pointer;

        &:hover {
            color: #da91dc !important;
        }
    }
}

.single-chat {
    span {
        cursor: pointer;

        &:hover {
            color: #da91dc !important;
        }
    }

    mat-icon {
        cursor: pointer;

        &:hover {
            color: #da91dc !important;
        }
    }
}

.imprint {
    position: fixed;
    bottom: 0px;
    width: 284px;
    z-index: 1;
    background-color: #512752;

    h4 {
        cursor: pointer;

        &:hover {
            color: #da91dc !important;
        }
    }
}


.bg-white {
    background-color: #FAFAFA;
}

.bg-gray {
    background-color: #EEEEEE;
}