<mat-toolbar color="primary">
    <div class="toolbar-icons">
        <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>
        <span class="pl-16">Slack-Clone</span>
    </div>
    <div class="toolbar-icons">
        <input onkeyup="" placeholder="Search ..." autocomplete="off">
    </div>
    <div class="toolbar-icons">
        <mat-icon class="user-icon">person</mat-icon>
    </div>
</mat-toolbar>

<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer opened="true" class="mat-drawer-sidenav" mode="side">
        <p>Topic 1</p>
        <p>Topic 2</p>
        <p>Topic 3</p>
        <p>Topic 4</p>
        <p>Topic 5</p>
    </mat-drawer>

    <div class="mat-drawer-sidenav-content pt-16 pl-16">
        <h1>Inhalt</h1>
    </div>

</mat-drawer-container>