<mat-toolbar color="primary">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="pl-16">Slack-Clone</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="mat-drawer-sidenav" mode="side">
        <p>Thead 1</p>
        <p>Thead 2</p>
        <p>Thead 3</p>
        <p>Thead 4</p>
        <p>Thead 5</p>
    </mat-drawer>

    <div class="mat-drawer-sidenav-content">
        Inhalt
    </div>

</mat-drawer-container>