<div class="thread-container d-n" id="threads">
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>
    <div class="posts comments">
        <img class="profile-img">

        <div>
            <div class="general-info-line">
                <p>Author<b></b></p>
                <span> Zeit</span>
            </div>
            <div class="post">
                <p matTextPrefix="">Text</p>
            </div>
            <!-- <img (click)="openLightbox( post['uploadImg'] )" class="upload-image" *ngIf=" post['uploadImg']"
                    src="{{ post['uploadImg'] }}"> -->
        </div>
    </div>

</div>

<!-- <app-comment-box *ngIf="innerHeight > 600" [CommentToPost]="post" location="comments"></app-comment-box>
    <mat-accordion *ngIf="innerHeight < 600">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Write something
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-comment-box [CommentToPost]="post" location="comments"></app-comment-box>
        </mat-expansion-panel>
    </mat-accordion> -->