<div class="thread-container d-n" id="threads">
    <div *ngFor="let thread of inputFromParentThreadArray; let i = index">
        <div class="posts comments">
            <img class="profile-img">
            <div>
                <div class="general-info-line">
                    <p>{{thread.userName}}<b></b></p>
                    <span> Am {{thread.userMessageDate}} um {{thread.userMessageTime}} Uhr</span>
                </div>
                <div class="post">
                    <p>{{thread.userMessage}}</p>
                </div>
                <div class="post">
                    <p routerLink="">Hier geht's zum Post</p>
                </div>
            </div>
        </div>
    </div>
</div>