<div class="logo-and-slack-container">
    <img src="" alt="">
    <span>slack</span>
</div>

<div class="sign-up-whole-container">
    <h1>Slack-Clone registration</h1>

    <span class="recommendation-email-usage">We recommend you use the email address you use at
        work.
    </span>

    <div class="sign-up-options">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="password"
                required>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

        <div class="sign-up-btn-container">
            <button class="sign-up-btn" mat-raised-button>Sign up</button>
        </div>


        <div class="or-container">
            <span class="or">OR</span>
        </div>

        <button class="google-btn" *ngIf="(afAuth.authState | async) === null" (click)="signIn()">Sign in with
            Google</button>

        <div class="sign-in-container">
            <span class="already-using">Already using Slack?</span>
            <a class="sign-in-a-tag" routerLink="/signin">Sign in to an existing workspace</a>
        </div>

    </div>
</div>