<div class="logo-and-slack-container">
    <img src="" alt="">
    <span>slack</span>
</div>

<div class="sign-up-whole-container">
    <h1>Slack-Clone registration</h1>

    <span class="recommendation-email-usage">We recommend you use the email address you use at
        work.
    </span>

    <div class="sign-up-options">
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [formControl]="usernameForm" required>
                <mat-error *ngIf="usernameForm.invalid">{{getErrorMessageUsername()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="emailForm" required name="email" [(ngModel)]="email">
                <mat-error *ngIf="emailForm.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="passwordForm"
                    required name="password" [(ngModel)]="password">
                <mat-error *ngIf="passwordForm.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>

            <div class="sign-up-btn-container">
                <button class="sign-up-btn" mat-raised-button (click)="signUp()">Sign up</button>
            </div>
        </form>

        <div class="or-container">
            <span class="or">OR</span>
        </div>

        <button class="google-btn" (click)="signInWithGoogle()">Sign in with Google</button>

        <div class="sign-in-container">
            <span class="already-using">Already using Slack?</span>
            <a class="sign-in-a-tag" routerLink="/signin">Sign in to an existing workspace</a>
        </div>

    </div>
</div>