.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .custom-spinner circle {
    z-index: 105;
    stroke: rgb(97, 31, 105);
}