<div class="chat-container" id="chat">
    <div>
        <h2>
            Chat mit {{ inputFromParentChat }}
        </h2>
    </div>
    <div class="messages-container" #scrollMe>
        <div class="other-user">
            <div class="student-container p-2 d-flex align-items-start">
                <div class="d-flex align-items-start">
                    <mat-icon>person</mat-icon>
                    <div>
                        <div class="fs-5 fw-bold">
                        </div>
                        <p class="fw-light ps-1 pt-1"><i>User 1</i></p>
                    </div>
                </div>
            </div>
        </div>
        <div 
            class="conversation-container pt-3 text-secondary d-flex justify-content-center align-items-center flex-wrap">
            <p class="text-center">This conversation is just between the two of you. Here you can send
                messages and share files with <b></b></p>

        </div>
        <div class="d-flex flex-column-reverse" style="background-color: #eeeeee;">
        <div class="load-message-container">
            <div class="one-message my-2 p-2 d-flex align-items-start pl-16 pb-16 pt-16">
                <div class="chat-user">
                    <mat-icon>person</mat-icon> 
                    <span>User 1</span>
                </div>
                <div>
                    <div class="message-header">
                        <p class="me-1"><b></b></p>
                        <p> XX.XX Uhr</p>
                    </div>
                    <div class="message-text">
                        <mat-icon>drafts</mat-icon>
                        Test message
                    </div>
                    
                </div>
            </div>
        </div>
        </div>

    </div>
</div>