<h1 mat-dialog-title>Create a new chat</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="pt-16">
    <mat-label>Select</mat-label>
    <mat-select>
      <div *ngFor="let user of users, let i = index">
        <mat-option value="{{ user['userName'] }}" (click)="checkUser((users[i]))">
          <span class="" > {{ user['userName'] }} </span>
        </mat-option>
      </div>
    </mat-select>

  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="dialogRef.close()">Abort</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="startChat()">Ok</button>
  </div>
</div>