.whole-dialog {
    padding: 24px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
}

.input-and-img-container {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    border-right: 1px solid lightgray;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding-left: 16px;
}

.profile-picture {
    width: 97px;
    height: auto;
    border-radius: 100%;
}


.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid lightgrey;
    background: transparent;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
  }
  
.upload-img {
    width: auto;
    height: 23px;
    filter: invert(55%);
}

.upload-text {
    font-size: 14px;
    font-weight: 400;
}

.save-button {
    color: white !important;
    background-color: rgb(97, 31, 105) !important;

    &:hover {
        background-color: rgb(130, 50, 130) !important;
        ;
    }
}




:host ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(97, 31, 105);
}

::ng-deep .mat-progress-bar-buffer {
    background: rgb(97, 31, 105);
}


