<mat-progress-bar *ngIf="spinnerService.isProgressing$ | async" mode="indeterminate"></mat-progress-bar>
<div class="whole-dialog">
    <h1>Edit Profile</h1>

    <div class="input-and-img-container">
        <div class="input-fields">
            <mat-form-field appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput placeholder="User name" [formControl]="usernameForm" required>
                <mat-error *ngIf="usernameForm.invalid">{{getErrorMessageUsername()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="emailForm" required>
                <mat-error *ngIf="emailForm.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
        </div>

        <form class="img-container">
            <div *ngIf="uploadService.url$ as imageUrl; else authPicture">
                <img class="profile-picture" [src]="imageUrl" alt="profil-icon">
            </div>

            <ng-template #authPicture>
                <div *ngIf="auth.profilPicture | async as imageUrl; else defaultImage">
                    <img class="profile-picture" [src]="imageUrl" alt="proil-icon">
                </div>
            </ng-template>

            <ng-template #defaultImage>
                    <img class="profile-picture" [src]="'assets/img/name-icon.png'" alt="profil-icon">
            </ng-template>



            <label for="file-input" class="custom-file-upload">
                <img class="upload-img" src="assets/img/upload-icon.svg">
                <span class="upload-text">Upload Image</span>
            </label>
            <input class="d-n" type="file" id="file-input" (change)="uploadService.onFileSelected($event, this.auth.currentUserId)"
                accept="image/jpeg,image/png">
        </form>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button class="save-button" (click)="updateUserInfos()">Save</button>
</div>