<div class="channel-container d-n" id="channel">
    <div>
        <h2>
            Test Channel Name!{{ channel.channelName }}
        </h2>
        <h3>
            Test Channel Beschreibung!{{ channel.description }}
        </h3>
    </div>
    <div class="post-container" #scrollMe>
        <div >
            <div class="posts">
                <mat-icon>person</mat-icon>

                <div>
                    <div class="general-info-line">
                        <p><b></b></p>
                        <span> Uhr</span>
                    </div>
                    <div class="post">
                        <p></p>
                    </div>

                    <img>

                    <div class="open-thread">
                        <p>Comments</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>