<div class="channel-container d-n" id="channel">
    <div>
        <div>
            <h2>
                Channel: {{ inputFromParent }}
            </h2>
            <h3>
                {{ inputFromParentDescriptiont }}
            </h3>
            <div class="post-container-box">
                <div class="post-container" *ngFor="let channel of allThreads$ | async; let i = index">
                    <div>
                        <div class="posts">
                            <div>
                                <div class="general-info-line">
                                    <p><b>Am {{channel.userMessageDate}} um {{channel.userMessageTime}} Uhr</b></p>
                                </div>
                                <div class="user-info">
                                    <p> <mat-icon>person</mat-icon><b>{{channel.userName}}</b></p>
                                </div>
                                <div class="post">
                                    <p>{{channel.userMessage}}</p>
                                    <div *ngIf="channel.userMessageDateUpdate && channel.userMessageTimeUpdate" class="post-update">
                                        Zuletzt bearbeitet am {{channel.userMessageDateUpdate}} um {{channel.userMessageTimeUpdate}} Uhr
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="auth.currentUserName === channel.userName" class="options">
                                <mat-icon [matMenuTriggerFor]="menu" #menuTrigger>more_vert</mat-icon>
                                <mat-menu #menu="matMenu">
                                    <div mat-menu-item class="dialog-icon-and-button" (click)="openDialogEditMessage(channel)">
                                    <!-- <div mat-menu-item class="dialog-icon-and-button" (click)="openDialogEditMessage(channel['userMessage'])"> -->
                                        <mat-icon class="menu-icon" fontIcon="edit"></mat-icon>
                                        <span>Edit message</span>
                                    </div>
                                    <div mat-menu-item class="dialog-icon-and-button" (click)="openDialogDeleteMessage(channel['threadId'])">
                                        <mat-icon class="menu-icon" fontIcon="delete"></mat-icon>
                                        <span>Delete message</span>
                                    </div>
                                </mat-menu>
                                <!-- <div (click)="deleteMessage(channel['threadId'])"> --> <!-- Funktion für sofotiges Löschen ohne vorherige Optionen -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-settings-box">
                <div class="post-settings">
                    <p>
                        <mat-icon class="c-p" matSuffix>format_bold</mat-icon>
                        <mat-icon class="c-p" matSuffix>format_italic</mat-icon>
                        <mat-icon class="c-p" matSuffix>format_underlined</mat-icon>
                        <mat-icon class="c-p" matSuffix>sentiment_satisfied</mat-icon>
                        <mat-icon class="c-p" matSuffix>add_link</mat-icon>
                        <mat-icon class="c-p" matSuffix>attach_file_add</mat-icon>
                    </p>
                </div>
                <div class="post-inputfield-box">
                    <textarea matInput id="post-inputfield" #postTextarea rows="3" cols="80" autocomplete="off"
                        placeholder="Your message to the Channel {{inputFromParent}} ..." class="post-inputfield"></textarea>
                    <mat-icon matSuffix (click)="sendMessageToChannel()">send</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>