.post-container-box {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 16px;
    height: calc(100vh - 400px);
}

.posts {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    margin-bottom: 24px;
    padding: 16px;
    box-shadow: 0px 2px 8px -1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: white;

    img {
        margin-right: 16px;
    }

    &:last-child {
        margin-bottom: 8px;
        margin-right: 24px;
    }

    p {
        word-break: break-word;
    }
}

.post-update {
    font-size: 14px;
    color: gray;
}


.options {
    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        margin: 8px;

        &:hover {
            cursor: pointer;
        }
    }
}

.general-info-line {
    p {
        color: gray;
        margin-left: 8px;
        font-size: 16px;
    }
}

.user-info {
    p {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.post {
    max-width: 75vw;
}


.post-settings-box {
    display: flex;
    margin: 4px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 8px -1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-right: 24px;
    background: white;
}

.post-settings {
    font-weight: 400;
    padding: 8px 16px;
    text-align: left;
    background: whitesmoke;
    border-bottom: solid 1px black;
    border-radius: 10px;

    p {
        margin: 0;

        mat-icon {
            font-size: 24px;
            padding: 12px 12px 12px 12px;
            border: 1px solid black;
            border-radius: 10px;
            margin-right: 12px;
        }
    }
}

.post-inputfield-box {
    height: 100px;
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.post-inputfield {
    border: none;
    height: fit-content;
    font-size: 18px;
    resize: none;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    width: 95%;
}

@media(max-height: 600px) {
    .post-container {
        height: calc(100% - 110px);
    }
}

@media(max-width: 530px) {
    .post {
        max-width: 300px;
    }
}

@media(max-width: 465px) {
    .post {
        max-width: 250px;
    }
}

@media(max-width: 410px) {
    .post {
        max-width: 200px;
    }
}

@media(max-width: 380px) {
    .general-info-line {
        flex-direction: column;

        span {
            margin-left: unset;
        }
    }
}

@media(max-width: 350px) {
    .post {
        max-width: 150px;
    }
}