<div class="padding-without-btn">
    <div class="info-headline-container">
        <div class="img-container">
            <img src="assets/img/info-icon.svg" alt="info-icon">
        </div>
        <span class="attention">Attention</span>
    </div>

    <h1 mat-dialog-title class="error-occured">An error has occured.</h1>

    <div class="errors-container">
        <div class="error-description">
            <span>Error Message:</span>
            <div mat-dialog-content class="error-text">This dialog showcases the title, close, content and actions
                elements.</div>
        </div>
        <div class="error-description">
            <span>Error Code:</span>
            <div mat-dialog-content class="error-text">auth/user-not-found</div>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>