<app-overlay-spinner></app-overlay-spinner>
<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
    <p>Please enter your email address to reset your password.</p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [formControl]="emailForm" required name="email" [(ngModel)]="email">
        <mat-error *ngIf="emailForm.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
</div>
<div class="btn-container" mat-dialog-actions>
    <button class="reset-password-btn" mat-raised-button (click)="forgotPassword()">Reset Password</button>
    <button mat-raised-button (click)="onNoClick()">Close</button>
</div>