.reset-password-btn {
    background-color: rgb(97, 31, 105) !important;
    color: white !important;
}

.btn-container {
    justify-content: flex-end !important;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}