@import 'fonts.scss';

body {
    font-family: 'Roboto', 'sans-serif';
}



$violet-color: rgb(74, 21, 75);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
