@import 'fonts.scss';

body {
    font-family: 'Roboto', 'sans-serif';
}



$violet-color: rgb(74, 21, 75);

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}