<div class="logo-and-slack-container">
    <img src="" alt="">
    <span>slack</span>
</div>

<div class="sign-up-container">
    <span class="new-to-slack">New To Slack-Clone?</span>
    <a class="sign-up-a-tag" routerLink="/signup">Sign up</a>
</div>

<div class="sign-in-whole-container">
    <h1>Sign in to Slack-Clone</h1>
    <span class="recommendation-email-usage">We recommend you use the email address you use at
        work.
    </span>

    <div class="login-options">
        <button class="google-btn" (click)="signInWithGoogle()">Sign in with Google</button>

        <div class="or-container">
            <span class="or">OR</span>
        </div>

        <form>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="emailForm" required name="email" [(ngModel)]="email">
                <mat-error *ngIf="emailForm.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [formControl]="passwordForm"
                    required name="password" [(ngModel)]="password">
                <mat-error *ngIf="passwordForm.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>

            <div class="btn-container">
                <button class="login-btn" mat-raised-button (click)="signIn()">Login</button>
                <button class="login-guest-btn" mat-raised-button (click)="signInAsGuest()">Login as Guest</button>
            </div>

            <a class="forgot-password" (click)="openForgotPassword()">Forgot Password ?</a>
        </form>
    </div>
</div>